@use "@styles/base/breakpoints.scss" as *;

.navbar{
    width: 100%;
    padding: 1.2rem 1rem ;
    background: transparent;
    position: static;
    top: 0;
    z-index: 99;
    height: 8rem;
   
  
    &__contentall{
        display: flex;
        align-items: center;
      
       
    }
    &__logo-link{
      
        display: block;
        width: auto;
    }
    // &__logo{
     
    // }
    &__list{
        flex: 0.6;
     display: flex;
     justify-content: space-evenly;
     
    }
    &__list-item{
        color: white;
    }
    &__content{
        flex: .4;
      display: flex;
      flex-shrink: 0;
      gap: 2rem;
    }
    &__session{
      
        
       
    }
}
.navbar.scrolled {
    background: var(--color-neutral);
    position: fixed;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }