@use "@styles/base/breakpoints.scss" as *;

.profile-avatar{
width: 12rem;
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-content: center;
 gap: 1.5rem;
 user-select: none;
 &:active{
    background-color: white;
    
 }
 &__background{
    height: 12rem;
 }
    &__image{
      height: 12rem;
      border: 1px solid white;
      border-radius: 3.9rem;
    }
    &__user{
      color: white;
      text-align: center;
      font-size: 2rem;
      
    }
}