@use "@styles/base/breakpoints.scss" as *;

.container-perfil{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
    
    @include desktop-small{
        gap: 8rem;
    }

    @include laptop-small{
        gap: 8rem;
    }
    @include tablet-small{
        gap: 8rem;
    }
}
