// @import "tailwindcss";
@use "_breakpoints" as *;
@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("/fonts/ClashDisplay-Medium.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Medium.woff") format("woff"),
    url("/fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

:root {
  // púrple
--purple-900: #2F238A;
--purple-800: #3933A3;
--purple-700: #4E45C4;
--purple-600: #4E45C4;
--purple-500: #4E45C4;
--purple-400: #9680FF;
--purple-300: #A499FF;
--purple-200: #B8B2FF;
--purple-100: #D2CCFF;
--purple-50: #D2CCFF;

//gray
--gray-900:#0D0D1C;
--gray-800:#191934;
--gray-700:#29294C;
--gray-600:#393960;
--gray-500:#50507C;
--gray-400:#70709E;
--gray-300:#9797B4;
--gray-200:#A9A9BC;
--gray-100:#C7C7D1;
--gray-50:#E3E3E8;
//cyan
--cyan-900:#003133;
--cyan-800:#006366;
--cyan-700:#018A8E;
--cyan-600:#01C0C6;
--cyan-500:#01E8EF;
--cyan-400:#5CF3F8;
--cyan-300:#9DF8FB;
--cyan-200:#B8F9FB;
--cyan-100:#D3FBFC;
--cyan-50:#E6FEFF;
//
 --primary-color:#6757FE;
 --primary_color-hover: #523FFE;
 --primary-color-active: #3124B2;
 --primary-color-disabled:#3E3499;
 --secondary-color : #9A92FF;
 --secondary-color-hover: #6C66B2;  
 --color-neutral: #0D0D1C;
 --color-neutral-light: #1D174C;
 --color-neutral-hover:#161247;
--color-neutral-active:#1E1A65;
--color-neutral-disabled:#1B1B3F;
--color-neutral-bg:#04011A;
--color-neutral-transparent: #04011A40;
--color-neutral-transparent-hover: #04011A4D;
--color-neutral-transparent-active: #04011A80;
--color-neutral-transparent-disabled: #24232980;
--color-neutral-white: #FBFBFB;
--color-neutral-white-transparent-50: #FFFFFF80;
--color-neutral-white-transparent-100: #FFFFFF1A;
--color-enfasis: #08F7FE;
//alerts 
--color-alert-succes-ligh: #0FEEBF;
--color-alert-info-light: #2082F1;
--color-alert-warning-light: #F84242;
--color-alert-succes-dark: #06604D;
--color-alert-info-dark: #063060;
--color-alert-warning-dark: #940505;
--font-primary:"Inter", serif;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  text-decoration: none;
  scrollbar-width: none;
}
li {
  list-style: none;
}

[class*="__contentall"] {

  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
  
  @include desktop-medium {
      max-width: 150rem;
  }
}
body {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  position: relative;
  line-height: 1.6;
  min-height: 100vh;
  background: var(--color-neutral);
}

a {
  font-family: var(--font-primary);
}
button {
  font-family: var(--font-buttons) ;
}
input {
  font-family: var(--font-primary);
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; 
}

.ripple-effect {
  position: absolute;
  background: var(--ripple-color, #fff);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: blink var(--ripple-duration, 500ms) linear;
  pointer-events: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }

}

@keyframes blink {
  0% {
    width: 0;
    height: 0;
    opacity: 0.3;
  }
  100% {
    width: 400px;
    height: 400px;
    opacity: 0;
  }
}